<div
  cdkDropList
  class="dashboard"
  >
  <!-- cdkDropListConnectedTo="drop-wrapper" -->
  <!-- (cdkDropListDropped)="itemDropped($event)" -->
  <div
    cdkDrag
    class="draggable-rect"
    [cdkDragData]="{text: 'box'}"
    (cdkDragDropped)="droppedToCreate($event)"
  >
    box#
  </div>
</div>

<!-- (cdkDropListDropped)="itemDropped($event)" -->
<div
  class="wrapper"
  cdkDropListSortingDisabled="true"
  >
  <div
    cdkDrag
    class="box"
    [id]="'box' + element.id"
    cdkDragBoundary=".wrapper"
    [cdkDragFreeDragPosition]="element.coords"
    *ngFor="let element of elementsArray; index as i"
  >
  <input
    #inputText
    type="text"
    class="input-text"
    [value]="element.value"
    [disabled]="!editSw.checked"
  >
  <button
    class="delete-btn"
    [ngClass]="editSw.checked ? 'show' : ''"
    (click)="deleteDialog.showModal(); indexToDelete = i"
  >❌</button>
  <input
    #editSw
    class="edit-sw"
    [ngClass]="!editSw.checked ? 'edit-mode' : 'save-mode'"
    type="checkbox"
    [defaultChecked]="false"
    (click)="editValue(!editSw.checked, i, inputText.value)"
  >
  </div>
</div>

<dialog #deleteDialog id="deleteDialog">
  <h1><div>❗</div></h1>
  <p>Deseas eliminar este elemento?</p>
  <div style="display: flex; gap: 10px; justify-content: center;" >
    <button (click)="deleteDialog.close()">Cancel</button>
    <button (click)="deleteElement(indexToDelete); deleteDialog.close()">Confirm</button>
  </div>
</dialog>
