.wrapper{
  background-color: antiquewhite;
  height: calc(100% - 52px - 50px - (8px * 2) );
  position: relative;
}

.box{
  background-color: rgb(68, 145, 196);
  color: white;
  /* cursor: move; */
  height: 30px;
  padding: 20px;
  position: absolute;
  user-select: none;
  width: 60px;
  border-radius: 15px;
}

.box .input-text {
  background-color: transparent;
  width: 100%;
  border: 0;
  outline: none;
  padding: 5px;
}

.box .input-text[disabled]{
  color: black;
  pointer-events: none;
}

.box .input-text:focus{
  outline-style: ridge;
  outline-color: rgba(117, 117, 117, 0.4);
  border-radius: 10px;
  background-color: rgba(117, 117, 117, 0.2);
}

.dashboard{
  height: 50px;
  padding: 8px;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draggable-rect{
  height: auto;
  background-color: rgb(68, 145, 196);
  padding: 10px;
  border-radius: 10px;
  user-select: none;
}

.edit-sw{
  position: absolute;
  bottom: 0;
  right: 10px;
  appearance: none;
  background-color: aliceblue;
  width: 36px;
  padding: 0 3px;
  text-align: center;
  border-radius: 4px;

  &::before{
    content: 'Edit';
  }
  &:checked::before{
    content: 'Save';
  }
}
