<div
  cdkDropList
  class="dashboard"
  >
  <!-- cdkDropListConnectedTo="drop-wrapper" -->
  <!-- (cdkDropListDropped)="itemDropped($event)" -->
  <div
    cdkDrag
    class="draggable-rect"
    [cdkDragData]="{text: 'box'}"
    (cdkDragDropped)="droppedToCreate($event,{text: 'box'})"
  >
    box#
  </div>
</div>

<!-- (cdkDropListDropped)="itemDropped($event)" -->
<div
  class="wrapper"
  cdkDropListSortingDisabled="true"
  >
  <div
    cdkDrag
    class="box"
    [id]="'box'+item"
    cdkDragBoundary=".wrapper"
    [cdkDragFreeDragPosition]="dragPositions[i]"
    *ngFor="let item of draggableItems; index as i"
  >
  <input [disabled]="true" [value]="'box'+item"/>
  </div>
</div>
