<form action="https://checkout.wompi.co/p/" method="GET">
  <!-- https://checkout.wompi.co/l/test_w1Qvj0 -->
  <!-- OBLIGATORIOS -->
  <input name="public-key" value="pub_test_6yyW32kanLvHapiEQyb9xUaMceaI26GC" />
  <input name="currency" value="COP" />
  <input name="amount-in-cents" value="900000" />
  <input name="reference" value="12123" />
  <!-- OPCIONALES -->
  <!-- <input  name="signature:integrity" value="FIRMA_DE_INTEGRIDAD"/>
  <input  name="redirect-url" value="URL_REDIRECCION" />
  <input  name="tax-in-cents:vat" value="IVA_EN_CENTAVOS" />
  <input  name="tax-in-cents:consumption" value="IMPOCONSUMO_EN_CENTAVOS" />
  <input  name="customer-data:email" value="CORREO_DEL_PAGADOR" />
  <input  name="customer-data:full-name" value="NOMBRE_DEL_PAGADOR" />
  <input  name="customer-data:phone-number" value="NUMERO_DE_TELEFONO_DEL_PAGADOR" />
  <input  name="customer-data:legal-id" value="DOCUMENTO_DE_IDENTIDAD_DEL_PAGADOR" />
  <input  name="customer-data:legal-id-type" value="TIPO_DEL_DOCUMENTO_DE_IDENTIDAD_DEL_PAGADOR" />
  <input  name="shipping-address:address-line-1" value="DIRECCION_DE_ENVIO" />
  <input  name="shipping-address:country" value="PAIS_DE_ENVIO" />
  <input  name="shipping-address:phone-number" value="NUMERO_DE_TELEFONO_DE_QUIEN_RECIBE" />
  <input  name="shipping-address:city" value="CIUDAD_DE_ENVIO" />
  <input  name="shipping-address:region" value="REGION_DE_ENVIO" /> -->
  <button type="submit">Pagar con Wompi</button>
</form>

<button style="margin-top: 20px" (click)="pay()"> Pagamee!! </button>
