
<div class="row">
  <div class="col">
    <h2>Expandible: carsList$</h2> <button (click)="pushCar()">Push carsList$</button> <button (click)="close()">close</button>
    <app-expandible #carsExpandible [array$]="carsList$" contentName="Carros">
      <ng-template let-implicit>
        <app-car-card
          [data]="implicit.item"
          [index]="implicit.index"
          (deleteItem)="deleteCar($event)">
        </app-car-card>
    </ng-template>
    </app-expandible>
  </div>
  <div class="col">
    <h2>Expandible: animalsList$</h2> <button (click)="pushAnimal()">Push animalsList$</button>
    <app-expandible #animalsExpandible [array$]="animalsList$" contentName="Animales">
      <ng-template let-implicit>
        <app-animal-card
          [data]="implicit.item"
          [index]="implicit.index"
          (deleteItem)="deleteAnimal($event)">
        </app-animal-card>
    </ng-template>
    </app-expandible>
  </div>
</div>
