<div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
  <h1>Prueba de expresiones regulares</h1>
  <div>
    <form #formRef="ngForm" (ngSubmit)="onSubmit()" [formGroup]="form">
      <input [redMaxlength]="10" [redMinMaxValues]="{max: 50, min: 5}" type="text" formControlName="test"  />
      <button type="submit">onSubmit</button>
    </form>
    <pre>
      {{form.get('test')?.errors | json}}
      <br>
      {{formRef.submitted}}
    </pre>
  </div>
</div>
