<!-- <div
  style="
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  "
>
  <h1>Prueba de expresiones regulares</h1>
  <div>
    <form #formRef="ngForm" (ngSubmit)="onSubmit()" [formGroup]="form">
      <input
        [redMaxlength]="10"
        [redMinMaxValues]="{ max: 50, min: 5 }"
        type="text"
        formControlName="test"
      />

      <button type="submit" [RyUnableClick]="form.get('check')?.value">
        onSubmit
      </button>
      <div style="display: flex">
        <input type="checkbox" formControlName="check" />
        <p>Disable click!</p>
      </div>
    </form>
    <pre>
      {{form.get('test')?.errors | json}}
      <br>
      {{formRef.submitted}}
    </pre>
    <button type="button" (click)="logForm(form)">enviar control</button>
  </div>
  <br />
  <div style="display: flex">
    <button
      tabindex="-1"
      (click)="pushMethod()">Push Form Data
    </button>
    <button
      tabindex="-1"
      type="button"
      (click)="expandableAnimation(bool, 'content'); bool = !bool"
    >
      Collapse
    </button>
  </div>
  <br />

  <div id="content" class="ry-expandable-wrapper">
    <div
      *ngFor="let item of formList$.value; index as i"
      class="ry-expandable-item"
      [id]="'item-content' + i"
      >
        <p style="margin-top: 0">test: {{ item.test }}</p>
        <button (click)="deleteItem('item-content',i)">
          Delete Item
        </button>
        <p>check: {{ item.check }}</p>
        <p>name: {{ item.name }}</p>
        <p style="margin-bottom: 0">apellido: {{ item.apellido }}</p>
    </div>
  </div>
</div> -->
<nav>
  <ul style="display: flex; gap: 30px;">
    <li routerLink="/home">Home</li>
    <li routerLink="/expandible-view">expandible-view</li>
    <li routerLink="/text-to-speech">text-to-speech</li>
  </ul>
</nav>
<router-outlet></router-outlet>
