.wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

h1{
  text-align: center;
}

span{
  padding: 3px 3px;
}

span:hover{
  border-radius: 3px;
  background-color: antiquewhite;
  cursor: pointer;
}

.speech-options{
  display: flex;
  gap: 20px
}

.text-wrapper{
  display: flex;
  flex-wrap: wrap;
}
