*{
  font-family: system-ui;
}

.wrapper{
  width: clac(100vw - 40px);
  height: calc(100vh - 18px - 60px - 45px);
  background-color: antiquewhite;
  position: relative;
  overflow: hidden;
  cursor: crosshair;
}

.dashboard{
  width: calc(100% - 40px);
  /* left: calc(50% - 40px); */
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 10px 20px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  height: 21px;
}

.dashboard h2{
  position: absolute;
  top: 5px;
  left: 20px;
  margin: 0;
}

.dashboard p{
  position: relative;
  margin: 0;
}

.dashboard p span{
  position: absolute;
  left: 60px;
  top: -18px;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(0, 0, 122);
}

.dashboard p span.succeed{
  color: green;
}

.dashboard p span.fail{
  transition: 100;
  animation: 1s infinite horizontal-shaking;
  color: rgb(226, 0, 0);
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
 }

.dashboard button{
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 12px;
  padding-right: 10px;
  padding-left: 25px;
  background-image: url('./../../../assets/imgs/rotate-left-svgrepo-com.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
}

.dashboard button:active{
  background-color: rgb(197, 204, 211);
}

#target{
  /* animation-fill-mode: both; */
  --alto: 100px;
  position: absolute;
  height: var(--alto);
  width: var(--alto);
  border-radius: 50%;
  background-color: cadetblue;
  top: calc(50% - var(--alto)/2);
  left: calc(50% - var(--alto)/2);
}
