<div [id]="contentName" class="ry-expandable-wrapper">
  <div
    *ngFor="let item of array$.value; index as index"
    class="ry-expandable-item"
    [id]="contentName + 'item' + index"
  >
    <!-- <p style="margin-top: 0">Nombre: {{ item.nombre }}</p>
      <p>color: {{ item.color }}</p>
      <button (click)="deleteItem(contentName + 'item',i)">
        Delete Item
      </button> -->
    <ng-template
      [ngTemplateOutlet]="templateRef"
      [ngTemplateOutletContext]="{ $implicit: {item, index} }"
    ></ng-template>
  </div>
</div>
